   #myHeaderText {
    background-color: rgb(11, 12, 12);
    color: rgb(247, 241, 241);
    text-align: center;
  }
   .parent {
    position: relative;
    padding: 10px 50px 10px 50px;
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 2px;
    background-color:rgb(253, 250, 246);
    }
    span + span {
        margin-left: 100px;       
    }
    .div1 {  
        border-style:outset;
        padding: 10px;
        grid-area: 1 / 1 / 2 / 2; }
    .div2 { 
        border-style:outset;
        padding: 10px;
        grid-area: 1 / 2 / 2 / 3; }
    .div3 { 
        border-style:outset;
        padding: 10px;
        grid-area: 1 / 3 / 2 / 4; }
    .div4 { 
        border-style:outset;  
        height: 200;
        margin-top: 5px;
       text-align: center;
        padding: 10px;
        grid-area: 2 / 1 / 3 / 4; }
    .div4-1{
        float: left;
    }
    .div4-2{
        float: left;
        margin-left: 20px;
    }
   .btnBanker {
       border-radius: 8px;
       padding: 5px 15px;
       background-color: rgb(170, 219, 172);
    }
    .btnClearLoan{
        border-radius: 8px;
        padding: 5px 15px;
        background-color: chartreuse;
        display: none;
     }
    .btnBank {
        margin-top: 50px;
        border-radius: 8px;
        padding: 5px 30px;
        background-color: rgb(244, 247, 97);
     }
    .btnWork {
        color: white;
        border-radius: 8px;
        padding: 5px 30px;
        background-color: rgb(85, 139, 255);
     }
    .btnBuyNow {
       border-radius: 8px;
       padding: 5px 30px;
       background-color: rgb(142, 193, 235);
       /* display: none; */
    }

    #loanLb{
        display: none;
    }
    #currentLoan{
        display: none;
    }
    #currentLoanSpan{
    display: none;
    
}